:root {
  --morgana-light-gray: #f5f5f5;
  --morgana-dark-gray: #555;
  --morgana-navy: #16335b;
  --morgana-orange: #ea5d11;
  --morgana-turquoise: #aeebe9;
  --morgana-error: #d00;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--morgana-light-gray);
  color: var(--morgana-dark-gray);
  line-height: 1.5;
  min-height: 100vh;
  /* min-width: 280px; */
  /* min-width: 320px; */
  /* display: flex; */
  /* place-items: center; */
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

section {
  /* max-width: 80%; */
  max-width: 100%;
  padding: 48px 32px;
  width: 100%;
}

.simulator__logo {
  background-color: var(--morgana-navy);
  text-align: center;
  width: 100%;
}

.logo {
  height: 98px;
  padding: 1.5rem 0;
  transition: filter 300ms;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #ea5d11aa);
}

a {
  font-weight: 500;
  color: var(--morgana-orange);
  text-decoration: inherit;
}
a:hover {
  color: var(--morgana-orange);
}

.simulator__title {
  color: var(--morgana-navy);
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 24px;
  text-align: start;
}

.simulator__description {
  font-size: 1rem;
  margin-bottom: 48px;
  text-align: start;
}

.simulator__wrapper {
  display: grid;
  grid-template-areas:
    'left'
    'right';
  width: 100%;
}

.simulator__values {
  border: 1px dotted dodgerblue;
  grid-area: left;
}

.simulator__values__head {
  background-color: var(--morgana-navy);
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding: 24px 48px;
  text-align: start;
}

.simulator__values__content {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding: 24px;
}

.property-price,
.down-payment,
.credit-term {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.property-price__label {
  margin-bottom: 12px;
}

.property-price__tooltip,
.down-payment__tooltip,
.credit-term__tooltip {
  font-size: 9px;
}

.property-price__input {
  background-color: #fff;
  border: 1px solid #a4a4a4;
  border-radius: 100px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-right: 8px;
  outline: none;
  padding: 6px 12px;
}

.property-price__input:focus {
  border: 1px solid #aad3f9;
}

.property-price__error {
  color: #f00;
  font-size: 10px;
  line-height: 16px;
  margin-bottom: 16px;
}

hr {
  background-color: #d8d8d8;
  height: 1px;
  margin: 16px 0px;
}

.down-payment__slider {
  display: flex;
  width: 100%;
}

.slider-container {
  margin-right: 8px;
  width: 90%;
}

.slider-container > span {
  width: 10%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  background: #d8d8d8;
  border-radius: 5px;
  height: 4px;
  outline: none;
  transition: opacity 0.2s;
  width: 100%;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: var(--morgana-orange);
  border-radius: 50%;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

.slider-range {
  display: flex;
  font-size: 8px;
  justify-content: space-between;
  margin-top: 8px;
  width: 83%;
}

.property-price,
.credit-term {
  display: flex;
  justify-content: space-between;
}

.down-payment {
  display: grid;
}

.down-payment__instructions {
  font-size: 8px;
}

.simulator__conditions {
  background-color: #fbfbfb;
  border: 1px dashed darkorange;
  grid-area: right;
}

.simulator__conditions__head {
  background-color: var(--morgana-turquoise);
  color: var(--morgana-navy);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding: 24px;
  text-align: start;
}

.simulator__conditions__content {
  padding: 24px;
}

button {
  background-color: var(--morgana-orange);
  border: none;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 24px;
  margin-top: 48px;
  min-width: 140px;
  padding: 8px 20px;
  width: 238px;
}
button:hover {
  text-decoration: underline;
}
button:focus,
button:focus-visible {
  outline: none;
}

/* Desktop styles */

@media (min-width: 992px) {
  section {
    max-width: 1280px;
    width: 80%;
  }

  .simulator__title {
    font-size: 24px;
  }

  .simulator__wrapper {
    grid-template-areas: 'left right';
  }

  .simulator__values__head {
    font-size: 24px;
    line-height: 28px;
    padding: 24px 80px;
  }

  .property-price {
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
  }

  .property-price__label,
  .property-price__error {
    margin-bottom: 0;
  }

  .simulator__conditions__head {
    font-size: 24px;
    line-height: 28px;
    padding: 24px 48px;
  }

  .simulator__values__content,
  .simulator__conditions__content {
    padding: 48px;
  }
}
